<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plan your time at SXSW strategically</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <link rel="stylesheet" href="index.css" media="screen">
  <link rel="icon" type="image/png" href="./favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,900italic' rel='stylesheet' type='text/css'>

  <script src="//localhost:9093"></script>
</head>


<body>
  <div class="topBar">
    <!-- <img class=" topBar-section topBar-spotify" src="spotify-big.png" alt=""> -->
    <h1 class="topBar-section topBar-spotify">
      <span class="topBar-sxsw">SXSW</span><br>
      concerts<br>
      selector
    </h1>
    <div class="days js-days topBar-section">
      <div class="topBar-step">1.</div>
      pick a date:<br>
      <button value="15">15th</button><button value="16" class="selected">16th</button><button value="17">17th</button><button value="18">18th</button><button value="19">19th</button><button value="allDays">all</button>
    </div>
    <div class="controls js-controls topBar-section">
      <div class="topBar-step">2.</div>
      choose a mode:<br>
      <label>
        <input type="radio" value="walk" name="mode" checked></input>
        walking
      </label>
      <label>
        <input type="radio" value="car" name="mode"></input>
        by car
      </label>

    </div>
    <div class="topBar-section">
      <div class="topBar-step">3.</div>
      click on the <span class='green venues-legend'></span>venues<br> or hotels on the map
    </div>
    <div class="topBar-section">
      <div class="topBar-step">4.</div>
        click on artists covers<br>
        to play a sample
    </div>
  </div>

</div>
  <div class="main">

    <div id="map">
      <!-- <div class="navBar cartodb-legend-stack">
        <h1><span class="navBar-sxsw">SXSW</span> concerts selector</h1>
        <div class="days js-days navBar-section">
          Pick a date:
          <button value="15">3/15</button><button value="16" class="selected">3/16</button><button value="17">3/17</button><button value="18">3/18</button><button value="19">3/19</button><button value="allDays">All days</button>
        </div>
        <div class="controls js-controls navBar-section">
          Choose a mode:
          <label>
            <input type="radio" value="walk" name="mode" checked></input>
            I'm walking
          </label>
          <label>
            <input type="radio" value="car" name="mode"></input>
            I have a car
          </label>

        </div>
        <div class="navBar-section">
          then click on the <span class='green venues-legend'></span>venues on the map
        </div>
      </div> -->
    </div>

    <div class="rightPane js-rightPane">
      <div class="venueContainer">
        <div class="js-venueContainer"></div>
        <div class="js-nearbyVenuesContainer"></div>
      </div>
      <!-- <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO" class="spotify" frameborder="0" allowtransparency="true"></iframe> -->
      <!-- <iframe src="https://embed.spotify.com/?uri=spotify:user:nerik8000:playlist:66aoHtz19i7bjV8adw54TJ" class="spotify" frameborder="0" allowtransparency="true"></iframe> -->
    </div>
  </div>

  <script type="text/template" id="venueTpl">
    <% if (!isHotel) { %>
      <div class="venue-intro">What's happening at:</div>
    <% } else { %>
      <div class="venue-intro">From</div>
    <% } %>
    <h1>
      <%= venue %>
      <% if (!allDays) { %>
        on the <%= date %>th
      <% } %>
    </h1>
    <% if (!isHotel) { %>
      <% if (events.length) { %>
        <ul class="events">
        <% events.forEach(function(ev) { %>
          <li class="event js-event" data-eventid="<%= ev.cartodb_id %>">
            <div class="event-cover js-playsong<%if (ev.track0_previewurl) {%> event-cover--hasPreview<%}%>" data-track0_previewurl="<%= ev.track0_previewurl %>" data-track1_previewurl="<%= ev.track1_previewurl %>" data-track2_previewurl="<%= ev.track2_previewurl %>"
              <% if (ev.imageurl) { %>style="background-image:url(<%= ev.imageurl %>)"<% } %>>

            </div>
            <div class="event-section event-section-title">
              <%= ev.name %>
            </div>
            <div class="event-section">
            <%= ev.time %>
            <% if (allDays) { %>
               - 3/<%= ev.day %>
            <% } %>
            </div>
            <% if (ev.spotifyurl) { %>
              <div class="event-section">
                <a target="_blank" class="event-spotify" href="<%= ev.spotifyurl %>">
                  <img src="spotify.png">
                  <span class="event-listen">listen</span>
                </a>
              </div>
            <% } %>
          </li>
        <% }) %>
        </ul>
      <% } else { %>
        Nothing tonight !
      <% } %>
    <% } %>
  </script>


  <script type="text/template" id="nearbyVenuesTpl">
    <% if (nearbyVenuesTimes.length) { %>
      <% if (!isHotel) { %>
        <h2>Not so far away...</h2>
      <% } %>
      <ul class="nearbyVenuesTimes">
        <% nearbyVenuesTimes.forEach(function(time) { %>
          <li class="nearbyVenueTime">
            <div class="nearbyVenueTime-title" style="color: <%= time.color %>">
              <%= time.label %> <%= modeLabel %>:
            </div>
            <ul class="nearbyVenuesTimesEvents">
              <% time.nearbyVenues.forEach(function(nearbyVenue) { %>
                <li>
                  <button class="nearbyVenue js-nearbyVenue" data-venuename="<%= nearbyVenue.name %>" data-venueid="<%= nearbyVenue.id %>">
                    <span class="nearbyVenue-title">‣ <%= nearbyVenue.name %></span>
                    <span class="nearbyVenue-events"><%= nearbyVenue.events %></span>
                  </button>
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } %>

  </script>


  <script type="text/template" id="isoCssTpl">
<% for (var i=0; i<6; i++) { %>
  @col<%= i %>: <%= gradient.get((100/5)*i).hex %>;
<% } %>

#sxsw_iso{
  polygon-fill: #FFFFCC;
  polygon-opacity: .2;
  line-color: #FFF;
  line-width: 1.5;
  line-opacity: 1;
}
#sxsw_iso::lbl{
  text-name: [data_range]/60 + 'm. ' + [mode_lbl];
  text-face-name: 'DejaVu Sans Bold';
  text-size: 13;
  text-label-position-tolerance: 10;
  text-halo-fill: #170F10;
  text-halo-radius: 3;
  text-allow-overlap: false;
  text-placement: line;
  text-placement-type: simple;
}

<% for (var j=0; j<6; j++) { %>
  #sxsw_iso [ data_range <= <%= isos[j] %>] {
    polygon-fill: @col<%= j %>;
    line-color: @col<%= j %>;
  }
  #sxsw_iso::lbl [ data_range <= <%= isos[j] %>] {
    text-fill: @col<%= j %>;
  }
<% } %>

  </script>

  <script type="text/template" id="venueSQLTpl">
    SELECT
    e.cartodb_id,
    e.name,
    e.time,
    e.day,
    e.type,
    a.spotifyURL,
    a.imageURL,
    a.track0_previewURL,
    a.track1_previewURL,
    a.track2_previewURL
    from nerikcarto.sxsw_events2 e
    LEFT JOIN nerikcarto.sxsw_artists2 a
    ON
    a.name = e.name
    WHERE
    venue =  '<%= venueName %>' AND music is true and film is false and interactive is false
    <% if (!allDays) { %>
      AND day = <%= day %>
    <% } %>

  </script>


  <script type="text/template" id="dayVenuesSQLTpl">
    WITH events AS (
      SELECT
    	venue,
    	sum(music::int) music,
    	sum(interactive::int) interactive,
    	sum(film::int) film,
      string_agg(name, ', ') events_summary
    	FROM nerikcarto.sxsw_events2
      <% if (!allDays) { %>
      	WHERE
      		day = <%= day %>
      <% } %>
      GROUP BY venue
    )

    SELECT *
    FROM nerikcarto.sxsw_venues, events
    WHERE events.venue = nerikcarto.sxsw_venues.name
    AND music > 0
    and film = 0 and interactive = 0
  </script>

  <script type="text/template" id="nearbyVenuesSQLTpl">
    WITH events AS (
      SELECT
      venue_id,
      string_agg(name, ', ') events_summary
      FROM nerikcarto.sxsw_events2
      <% if (!allDays) { %>
      	WHERE
      		day = <%= day %>
      <% } %>
      GROUP BY venue_id
    ), nearby AS (
      SELECT
      data_range,
      nearby_id
      FROM nerikcarto.sxsw_nearby_venues_<%= mode %>2
      WHERE
      center_id = <%= center_id %>
      <% if (isHotel) { %>
        AND
        center_ishotel IS TRUE
      <% } %>
    )

    SELECT
    nearby.data_range,
    nerikcarto.sxsw_venues.cartodb_id,
    nerikcarto.sxsw_venues.name,
    events.events_summary
    from
    events, nearby, nerikcarto.sxsw_venues
    WHERE
    events.venue_id = nearby.nearby_id
    AND
    nerikcarto.sxsw_venues.cartodb_id = nearby.nearby_id
    ORDER BY
    nearby.data_range
    LIMIT 15






  </script>

  <script type="text/javascript" src="zzz-libs-dist.js"></script>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
