<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plan your time at SXSW strategically</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <link rel="stylesheet" href="index.css" media="screen">
  <link rel="icon" type="image/png" href="./favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,900italic' rel='stylesheet' type='text/css'>

  <script src="//localhost:9091"></script>
</head>


<body>
  <div id="map">
    <div class="navBar cartodb-legend-stack">
      <h1><span class="navBar-sxsw">SXSW</span> concerts selector</h1>
      <div class="days js-days navBar-section">
        Pick a date:
        <button value="15" class="selected">3/15</button><button value="16">3/16</button><button value="17">3/17</button><button value="18">3/18</button><button value="19">3/19</button><button value="allDays">All days</button>
      </div>
      <div class="controls js-controls navBar-section">
        Choose a mode:
        <label>
          <input type="radio" value="walk" name="mode" checked></input>
          I'm walking
        </label>
        <label>
          <input type="radio" value="car" name="mode"></input>
          I have a car
        </label>


      </div>
      <div class="navBar-section">
        then click on the <span class='green venues-legend'></span>venues on the map
      </div>
    </div>
  </div>

  <div class="rightPane">
    <div class="venueContainer">
      <div class="js-venueContainer"></div>
      <div class="js-nearbyVenuesContainer"></div>
    </div>
    <!-- <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO" class="spotify" frameborder="0" allowtransparency="true"></iframe> -->
    <!-- <iframe src="https://embed.spotify.com/?uri=spotify:user:nerik8000:playlist:66aoHtz19i7bjV8adw54TJ" class="spotify" frameborder="0" allowtransparency="true"></iframe> -->
  </div>

  <script type="text/template" id="venueTpl">
    <% if (!isHotel) { %>
      <em>What's happening at:</em>
    <% } else { %>
      <em>From</em>
    <% } %>
    <h1>
      <%= venue %>
      <% if (!allDays) { %>
        on the <%= date %>th
      <% } %>
    </h1>
    <% if (events.length) { %>
      <ul class="events">
      <% events.forEach(function(ev) { %>
        <li class="event js-event" data-eventid="<%= ev.cartodb_id %>">
          <div class="event-cover js-playsong" data-track0_previewurl="<%= ev.track0_previewurl %>" data-track1_previewurl="<%= ev.track1_previewurl %>" data-track2_previewurl="<%= ev.track2_previewurl %>">
            <% if (ev.imageurl) { %>
              <img class="event-cover-image" src="<%= ev.imageurl %>" />
            <% } %>
          </div>
          <div class="event-section event-section-title">
            <%= ev.name %>
          </div>
          <div class="event-section">
          <%= ev.starttime %>
          <br>
          <%= moment.utc(ev.starttime).add(1, 'hours').format('LT') %>
          <br>
          <%= ev.time %>
          </div>
          <% if (ev.spotifyurl) { %>
            <div class="event-section">
              <a target="_blank" class="event-spotify" href="<%= ev.spotifyurl %>">Open in <img src="spotify.png"></a>
            </div>
          <% } %>
        </li>
      <% }) %>
      </ul>
    <% } else { %>
      Nothing tonight !
    <% } %>
  </script>


  <script type="text/template" id="nearbyVenuesTpl">
    <% if (nearbyVenuesTimes.length) { %>
      <h2>Not so far away...</h2>
      <ul class="nearbyVenuesTimes">
        <% nearbyVenuesTimes.forEach(function(time) { %>
          <li class="nearbyVenueTime">
            <div class="nearbyVenueTime-title" style="color: <%= time.color %>">
              <%= time.label %> <%= modeLabel %>:
            </div>
            <ul class="nearbyVenuesTimesEvents">
              <% time.nearbyVenues.forEach(function(nearbyVenue) { %>
                <li>
                  <button class="nearbyVenue js-nearbyVenue" data-venuename="<%= nearbyVenue.name %>">
                    <span class="nearbyVenue-title">‣ <%= nearbyVenue.name %></span>
                    <span class="nearbyVenue-events"><%= nearbyVenue.events %></span>
                  </button>
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } %>

  </script>


  <script type="text/template" id="isoCssTpl">
<% for (var i=0; i<6; i++) { %>
  @col<%= i %>: <%= gradient.get((100/5)*i).hex %>;
<% } %>

#sxsw_iso{
  polygon-fill: #FFFFCC;
  polygon-opacity: .03;
  line-color: #FFF;
  line-width: 1;
  line-opacity: 1;
  text-name: [data_range]/60 + 'm. ' + [type];
  text-face-name: 'DejaVu Sans Bold';
  text-size: 12;
  text-label-position-tolerance: 10;
  text-halo-fill: #FFF;
  text-halo-radius: 1;
  text-allow-overlap: true;
  text-placement: line;
  text-placement-type: simple;
  text-dy: -10;
}
<% for (var j=0; j<6; j++) { %>
  #sxsw_iso [ data_range <= <%= isos[j] %>] {
    polygon-fill: @col<%= j %>;
    line-color: @col<%= j %>;
    text-fill: @col<%= j %>;
  }
<% } %>

  </script>

  <script type="text/template" id="venueSQLTpl">
    SELECT
    e.cartodb_id,
    e.name,
    e.starttime,
    e.time,
    e.type,
    a.spotifyURL,
    a.imageURL,
    a.track0_previewURL,
    a.track1_previewURL,
    a.track2_previewURL
    from nerikcarto.sxsw_events e, nerikcarto.sxsw_artists a
    WHERE
    a.name = e.name
    AND
    venue =  '<%= venueName %>' AND music is true and film is false and interactive is false
    <% if (!allDays) { %>
      AND EXTRACT('day' FROM starttime) = <%= day %>
    <% } %>
    ORDER BY
    e.time
    ASC
  </script>


  <script type="text/template" id="dayVenuesSQLTpl">
    WITH events AS (
      SELECT
    	venue,
    	sum(music::int) music,
    	sum(interactive::int) interactive,
    	sum(film::int) film,
      string_agg(name, ', ') events_summary
    	FROM nerikcarto.sxsw_events
      <% if (!allDays) { %>
      	WHERE
      		EXTRACT('day' FROM starttime) = <%= day %>
      <% } %>
      GROUP BY venue
    )

    SELECT *
    FROM nerikcarto.sxsw_venues, events
    WHERE events.venue = nerikcarto.sxsw_venues.name
    AND music > 0
    and film = 0 and interactive = 0


  </script>

  <script type="text/javascript" src="zzz-libs-dist.js"></script>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
