<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plan your time at SXSW strategically</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <link rel="stylesheet" href="index.css" media="screen">
  <link rel="icon" type="image/png" href="./favicon.png">

  <script src="//localhost:9091"></script>
</head>


<body>
  <div id="map">
    <div class="navBar cartodb-legend-stack ">
      <h1>Concerts @ SXSW</h1>
      <p> click on the venues on the map</p>
      <div class="controls js-controls">

        <label>
          <input type="radio" value="walk" name="mode" checked></input>
          I'm walking
        </label>
        <label>
          <input type="radio" value="car" name="mode"></input>
          I have a car
        </label>

        <div class="days js-days">
          Day :
          <button value="15">3/15</button>
          <button value="16">3/16</button>
          <button value="17">3/17</button>
          <button value="18">3/18</button>
          <button value="19">3/19</button>
          <button value="allDays">All days</button>
        </div>
      </div>
    </div>
  </div>

  <div class="rightPane">
    <div class="js-venueContainer venueContainer">
    </div>
    <!-- <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO" class="spotify" frameborder="0" allowtransparency="true"></iframe> -->
    <!-- <iframe src="https://embed.spotify.com/?uri=spotify:user:nerik8000:playlist:66aoHtz19i7bjV8adw54TJ" class="spotify" frameborder="0" allowtransparency="true"></iframe> -->
  </div>

  <script type="text/template" id="venueTpl">
    <% if (!isHotel) { %>
      <em>What's happening at:</em>
    <% } else { %>
      <em>From</em>
    <% } %>
    <h1>
      <%= venue %>
      <% if (!allDays) { %>
        on the <%= date %>
      <% } %>
    </h1>
    <% if (events.length) { %>
      <ul class="events">
      <% events.forEach(function(ev) { %>
        <li>
          <img class="js-playsong artist-cover" src="<%= ev.imageurl %>" data-songurl="<%= ev.track0_previewurl %>" />
          <%= ev.name %> - <%= ev.starttime %>
        </li>
      <% }) %>
      </ul>
    <% } else { %>
      Nothing tonight !
    <% } %>

    <% if (nearbyVenuesTimes.length) { %>
      <h2>Not so far away...</h2>
      <ul class="nearbyVenuesTimes">
        <% nearbyVenuesTimes.forEach(function(time) { %>
          <li class="nearbyVenueTime">
            <div class="nearbyVenueTime-title" style="color: <%= time.color %>">
              <%= time.label %> <%= modeLabel %>
            </div>
            <ul class="nearbyVenuesTimesEvents">
              <% time.nearbyVenues.forEach(function(nearbyVenue) { %>
                <li>
                  <button class="js-nearbyVenue" data-venuename="<%= nearbyVenue.name %>">
                    <%= nearbyVenue.name %> :
                    <span class="nearbyVenue-events"><%= nearbyVenue.events %></span>
                  </button>
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } %>

  </script>


  <script type="text/template" id="isoCssTpl">
<% for (var i=0; i<6; i++) { %>
  @col<%= i %>: <%= gradient.get((100/5)*i).hex %>;
<% } %>

#sxsw_iso{
  polygon-fill: #FFFFCC;
  polygon-opacity: 0.1;
  line-color: #FFF;
  line-width: 2;
  line-opacity: 1;
  text-name: [data_range]/60 + ' minutes';
  text-face-name: 'DejaVu Sans Bold';
  text-size: 13;
  text-label-position-tolerance: 10;
  text-halo-fill: #FFF;
  text-halo-radius: 1;
  text-allow-overlap: true;
  text-placement: line;
  text-placement-type: simple;
  text-dy: -10;
}
<% for (var j=0; j<6; j++) { %>
  #sxsw_iso [ data_range <= <%= isos[j] %>] {
    polygon-fill: @col<%= j %>;
    line-color: @col<%= j %>;
    text-fill: @col<%= j %>;
  }
<% } %>

  </script>

  <script type="text/template" id="venueSQLTpl">
    SELECT
    e.name,
    e.starttime,
    e.time,
    e.type,
    a.spotifyURL,
    a.imageURL,
    a.track0_previewURL
    from nerikcarto.sxsw_events e, nerikcarto.sxsw_artists a
    WHERE
    a.name = e.name
    AND
    venue =  '<%= venueName %>' AND music is true and film is false and interactive is false
    <% if (!allDays) { %>
      AND EXTRACT('day' FROM starttime) = <%= day %>
    <% } %>
  </script>


  <script type="text/template" id="dayVenuesSQLTpl">
    WITH events AS (
      SELECT
    	venue,
    	sum(music::int) music,
    	sum(interactive::int) interactive,
    	sum(film::int) film,
      string_agg(name, ', ') events_summary
    	FROM nerikcarto.sxsw_events
      <% if (!allDays) { %>
      	WHERE
      		EXTRACT('day' FROM starttime) = <%= day %>
      <% } %>
      GROUP BY venue
    )

    SELECT *
    FROM nerikcarto.sxsw_venues, events
    WHERE events.venue = nerikcarto.sxsw_venues.name
    AND music > 0
    and film = 0 and interactive = 0


  </script>

  <script type="text/javascript" src="zzz-libs-dist.js"></script>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
